header {
  background-color: #2d3e50;
  padding: 10px 20px;
  display: block;
  align-items: center;
  text-align: center;
  color: #ffffff
}

.my-link{
  background-color: #3b87c9;
  color: #ffffff;
  padding: 6px 16px;
  border-radius: 5px;
  margin: 0 3px;
  text-decoration: none;
}

.my-link:hover{
  background-color:#357ab2;
  color: #ffffff;
}

footer {
  background-color: #2d3e50;
  padding: 1px 20px;
  display: block;
  align-items: center;
  text-align: center;
  color: #ffffff
}